* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

textarea {
  font-family: sans-serif;
  font-size: 1.5rem;
  width: 600px;
  display: block;
}

#display {
  font-family: sans-serif;
  font-size: 1rem;
  width: 600px;
  height: 100px;
}

#myBtn {
  background: var(--cecGreen);
  color: White;
  border: 1px solid rgb(0, 0, 0, 0);
}

#myBtn:hover {
  background: var(--cecLG);
  color: Black;
  border: 1px solid Black;
}
