* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

h1 {
  color: #206c49;
}

textarea {
  font-family: sans-serif;
  font-size: 1.5rem;
  width: 600px;
  display: block;
}

#display {
  font-family: sans-serif;
  font-size: 1rem;
  width: 400px;
  height: 100px;
}

